/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


#root {
  width: 100vw;
  height: 100vh;
  padding: 2% 4%;
  display: flex;
  justify-content: center;
}
.App {
  height: 100%;
  width: 100%;
  /* text-align: center;
  background-color: #f3f7f5;
  height: 87%;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.4); */
}

h1, h2, h3, p {
  color: #3b5249;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
  text-shadow: 2px 2px 2px rgb(37, 37, 37, 0.3);
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p, td {
  font-size: 20px;
}

.big-number {
  font-size: 48px;
  color: #6f1a07;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.big-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100px; */
  background-color: white;
  width: 240px;
  border: 3px solid #6f1a07;
  border-radius: 20px;
  padding: 2px;
  margin-bottom: 15px;
}

.page-container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-page {
  text-align: center;
  background-color: #f3f7f5;
  padding: 10vh 10px 10px 10px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.4);
}

.green-text {
  color: #3b5249;
}

.red-text {
  color: #6f1a07;
}

.button-container {
  margin-bottom: 80px;
}

button {
  height: 50px;
  width: 150px;
  background-color: #6f1a07;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 24px;
  margin-top: 15px;
}

.large-button {
  width: 250px;
  height: 70px;
  font-size: 36px;
  margin: 10px 0px;
}

input {
  height: 40px;
  width: 200px;
  border: 3px solid #3b5249;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 20px;
}

footer {
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  /* box-shadow: 0px 3px 10px black; */
}

i {
  color: #3b5249;
  font-size: 60px;
  width: 100px;
  height: 80px;
}


a {
  display: flex;
  color: #6f1a07;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  border: 3px solid #3b5249;
}
.normal-link {
  border-radius: 0;
  border: none;
}

small {
  margin-top: 15px;
  color: #3b5249;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bx {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

table {
  width: 90%;
  background-color: #3b5249;
  border-radius: 20px;
  border-collapse:collapse;
  border-radius:6px;
  border-radius: 10px;
}

th, td {
  color: white;
  border-left:solid white 2px;
  border-top:solid white 2px;
  
}

th {
  font-size: 24px;
  font-weight: 400;
  border: 2px solid;
  border-top: none;
}

td:first-child, th:first-child {
  border-left: none;
  
}
td:last-child, th:last-child {
  border-right: none;
}